/* Colors */
:root {
  --background: #cceeff;
  --secondary-background: #aaddff;
  --primary: #0077dd;
  --secondary: #ffff77;
  --shadow: #33333333;
  --dark-text: #333333;
  --medium-text: #555555;
  --light-text: #dddddd;
  --lightest-text: #ffffff;
}

/* General */
body {
  background: linear-gradient(var(--lightest-text), var(--background));
  background-attachment: fixed;
  color: var(--medium-text);
  font-family: sans-serif;
  margin: 0;
  height: 100vh;
}

/* Center */
.center {
  text-align: center;
}

/* Inputs and Buttons */
input,
button,
.button {
  display: inline-block;
  border: 2px solid var(--medium-text);
  border-radius: 1em;
  box-shadow: 0 3px 5px 2px var(--shadow);
  color: var(--dark-text);
  font: inherit;
  margin: 0;
  padding: 0.3em 0.7em;
  text-decoration: none;
  transition: box-shadow 100ms, color 100ms;
}

input:focus,
button:focus,
.button:focus {
  box-shadow: 0 0 0 5px var(--primary);
  outline: none;
}

input:disabled,
button:disabled,
.button:disabled {
  background: var(--light-text);
  box-shadow: none;
}

button,
.button {
  background-color: var(--secondary);
  text-align: center;
}

.Card button,
.Card .button,
p > button,
p > .button {
  margin-right: 0.5em;
}

.button--secondary {
  background-color: var(--primary);
  color: var(--lightest-text);
}

/* Header Component */
.Header {
  font-size: 1.5em;
  margin-bottom: 2em !important;
  text-align: center;
}

h1, h3 {
  color: var(--dark-text);
}

h1 .small {
  font-size: 0.8em;
  font-weight: normal;
}

/* Card Component */
.Card {
  background-color: var(--secondary-background);
  border: 2px solid var(--medium-text);
  border-radius: 1em;
  padding: 1em;
  margin: 1em 0;
}

.Card__action {
  margin-top: 2em;
}

/* App Component */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 6vh;
  text-align: center;
}

.App__main-content {
  flex-grow: 1;
}

.App__main-content,
.MainColumn {
  margin: 1em auto;
  max-width: 720px;
  width: 80%;
}

.MainColumn > section {
    margin-bottom: 3em;
}

@media (min-width: 720px) {
  .MainColumn--double {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 5em;
  }
}

/* Nav Component */
.Nav {
  background: var(--primary);
  font-size: 1.8rem;
}

.Nav__inner {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0 auto;
  max-width: 720px;
  padding: 0;
  width: 80%;
}

.Nav__logo,
.Nav__link {
  color: var(--light-text);
  display: block;
  padding: 0.2rem 0.7rem;
  text-decoration-color: transparent;
  transition: text-decoration-color 100ms;
}

.Nav__logo:focus,
.Nav__link:focus {
  color: var(--lightest-text);
  outline: none;
  text-decoration-color: var(--secondary);
}

.Nav__link {
  font-size: 0.9em;
}

.Nav__logo {
  color: var(--lightest-text);
  font-weight: bold;
}

.Nav__spacer {
  flex-grow: 1;
}

/* QuizCodePrompt Component */
.QuizCodePrompt {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.QuizCodePrompt__title {
  color: var(--dark-text);
  flex-grow: 1;
  margin: 0.5em 0;
}

.QuizCodePrompt > input,
.QuizCodePrompt > button {
  margin: 0.5em 0;
}

.QuizCodePrompt__results {
  display: flex;
  flex-grow: 5;
  height: 30vh;
  margin: 0.5em 0;
  padding: 0;
}

.QuizCodePrompt__results::before,
.QuizCodePrompt__results::after {
  content: '';
  width: 0.5em;
}

.QuizCodePrompt__results > div {
  flex: 1 1;
  overflow-y: auto;
}

.QuizResult {
  color: black;
  font-size: 0.7em;
  padding: 0 1em;
}

.QuizResult h3 {
  margin-block-end: 0.5em;
}

.QuizResult p {
  margin-block-start: 0;
}

.QuizResult__answer--correct:before {
  color: green;
  content: '✓';
  margin: 0 0.5em 0 0.2em;
}

.QuizResult__answer--wrong:before {
  color: red;
  content: '✗';
  margin: 0 0.5em 0 0.2em;
}

/* ColumnForm */
.ColumnForm {
  display: flex;
  flex-direction: column;
}

.ColumnForm > input {
  margin-bottom: 1em;
}

.ColumnForm > label {
  margin: 0 1em 0.2em;
}

.ColumnForm.Card > label {
  color: var(--dark-text);
}

.ColumnForm > .error {
  color: red;
  font-weight: bold;
}

@media (min-width: 800px) {
  .ColumnForm--row {
    flex-direction: row;
  }

  .ColumnForm--row > input {
    flex-grow: 1;
    margin-bottom: 0;
    margin-right: 1em;
  }
}

/* Mobile */
@import "https://unpkg.com/typicons.font@2.0.9/src/font/typicons.css";

@media (max-width: 800px) {
  /* Nav (icons) */
  .Nav__link {
    font-size: 0;
    padding: 0.2rem 0.5rem;
  }
  .Nav__link::before {
    font-family: 'typicons';
    font-size: 1.8rem;
    color: var(--lightest-text);
  }
  .Nav__link--home::before {
    content: '\e089';
  }
  .Nav__link--search::before {
    content: '\e14e';
  }
  .Nav__link--create::before {
    content: '\e0c3';
  }
  .Nav__link--account::before {
    content: '\e12b';
  }
  .Nav__link--logout::before {
    content: '\e005';
  }
}

@media (max-width: 600px) {
  /* Buttons */
  button,
  .button {
    display: block;
    font-size: 1.2em;
    margin: 6pt 0 0 0 !important;
  }

  /* App */
  .App {
    font-size: 18pt;
  }
}
